@import "variables";
@import "mixins";

.about-us-section p {
  font-size: 14px;
  text-align: center;
  line-height: 22px;
}

.about-us-section{
  text-align: center;
  background-image: url(../images/krzych1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.about-us::before,
.about-us::after {
  content: "";
  display: block;
  border: 1px solid #949494;
}

.about-us {
  display: flex;
  align-items: center;
}

.about-us::before,
.about-us::after {
  flex-grow: 1;
  margin: 0 45px;
}

@include md-down {
  .about-us-section {
    background: url(../images/FB_IMG_1592855369886.jpg) no-repeat center center fixed;
    background-size: cover;
  }
}
