@import "variables";
@import "mixins";

.menu-content {
  margin: 0 auto; /* trick na wysrodkowanie elementu poziomo */
}

.menu-item-title {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.menu-item-description {
  display: flex;
  justify-content: end;
}

.menu-list {
  list-style: none;
  padding: 15px;
}

.menu-list li {
  border-bottom: 1px solid #838383;
}

.menu-list li:last-of-type {
  border-bottom: none;
}

.fa-leaf {
  color: #008000;
}

.fa-hotjar {
  color: #ff0000;
}

.fa-pepper-hot {
  color: #ff0000;
}

.food-extras {
  padding-top: 60px;
  color: #008b8b;
  font-style: revert;
  text-align: center;
}

h3 {
  text-align: center;
}

.nav-pills {
  display: flex;
  justify-content: center;
}

.nav-pills .nav-link.active, .nav-pills .show>.food-nav-item {
  color: #ffffff;
  background-color: #0d0d0e;
}
.nav-link {
  color: black;
}

.appetizers-menu{
  padding-bottom: 150px;
  padding-top: 30px;
  background: url(../images/2-Przyganial-Kociol-Udon.jpg) no-repeat center center fixed;
}

.appetizers-menu h3{
  color: white;
}

.soups-menu{
  padding-top: 30px;
  padding-bottom: 150px;
}
.main-dishes-menu{
  padding-top: 30px;
  padding-bottom: 150px;
}

.desserts-menu{
  padding-top: 30px;
  padding-bottom: 150px;
}