@import "variables";
@import "mixins";

.menu-content {
  margin: 0 auto;
}

.menu-item-title {
  display: flex;
  justify-content: space-between;
  font-weight: 700;
}

.menu-item-description {
  display: flex;
  justify-content: space-between;

  i {
    padding-left: 18px;
  }

  .fa-leaf {
    color: #008000;
  }

  .fa-hotjar {
    color: $red;
  }

  .fa-pepper-hot {
    color:$red;
  }

}

.menu-list {
  list-style: none;
  padding: 15px;
}

.menu-list li {
  border-bottom: 1px solid #838383;
}

.menu-list li:last-of-type {
  border-bottom: none;
}

.food-extras {
  padding-top: 60px;
  color: white;
  font-style: revert;
  text-align: center;
}

h3 {
  text-align: center;
}

.nav-pills {
  display: flex;
  justify-content: center;
}

.nav-pills .nav-link.active, .nav-pills .show > .food-nav-item {
  color: #ffffff;
  background-color: #0d0d0e;
}

.nav-link {
  color: $black;
}

.appetizers-menu {
  padding-bottom: 150px;
  padding-top: 30px;
  background: url(../images/gallery/udon2-kuchnia-azjatycka-gdansk.jpg) no-repeat center center fixed;
}

.appetizers-menu h3 {
  color: #ffffff;
}

.soups-menu,
.main-dishes-menu,
.desserts-menu {
  padding-top: 30px;
  padding-bottom: 150px;
  color: #ffffff;
}

.soups-menu {
  background: url(../images/gallery/soup2-kuchnia-azjatycka-gdansk.jpg) no-repeat center center fixed;
}

.main-dishes-menu {
  background: url(../images/gallery/hero-logo2-kuchnia-azjatycka-gdansk.jpg) no-repeat center center fixed;
}

.desserts-menu {
  background: url(../images/gallery/matcha-kuchnia-azjatycka-gdansk.jpg) center center fixed;
}