@import "variables";
@import "mixins";

.footer {
  padding-bottom: 15px;
  background-color: $black;
}

.col-sm-4 {
  text-align: center;
  padding-top: 15px;
  color: #ffffff;
  line-height: 22px;
  font-size: 14px;
}

.mobile-number {
  color: $white;
}

.footer-timestamp {
  display: block;
  color: #9f9f9f;
  padding: 10px;
  text-align: center;

  time {
    color: #9f9f9f;
  }
}

.footer-icon {
  border: 1px solid $gold;
  padding: 2px;
  border-radius: 2px;
}