@import "variables";
@import "mixins";

body {
  font-family: 'Ubuntu', sans-serif;
  background: $black;
}

.section-header::before,
.section-header::after {
  content: "";
  display: block;
  flex-grow: 1;
  margin: 0 45px;
  color: #ffffff;
  border: 1px solid $gold;
}

.section-header {
  background: $black;
  padding: 40px 10px;
  display: flex;
  align-items: center;
  color: #ffffff;
}

.gold {
  color: $gold;
}