@import "variables";
@import "mixins";

.section-header::before,
.section-header::after {
  content: "";
  display: block;
  border: 1px solid #949494;
}

.section-header {
  display: flex;
  align-items: center;
}

.section-header::before,
.section-header::after {
  flex-grow: 1;
  margin: 0 45px;
}