@import "variables";
@import "mixins";

.hero {
  background: url(../images/hero-logo.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.call-to-action-box {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #000000;
  color: #ffffff;
  font-size: 18px;

  .hero h1 {
    font-size: 50px;
    color: #ffffff;
  }

  .hero .sub-title {
    font-size: 30px;
    color: #ffffff;
  }

  .row {
    display: flex;
  }

  .hero-content {
    @include md-up {
      width: 900px;
      display: flex;
    }
    @include md-down {
      display: none;
    }
  }
}

