@import "variables";
@import "mixins";

.hero {
  background: url(../images/gallery/hero3-kuchnia-azjatycka-gdansk.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.fab {
color: $white;
}
.mail {
  text-decoration: none;
  color: $white;
}
.call-to-action-box {
  display: none;
  justify-content: center;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $black;
  color: #ffffff;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 15px;

  @include md-up {
    display: flex;
  }
}

.hero h1 {
  font-size: 26px;
  color: #ffffff;
  font-weight: bold;


  @include md-up {
    font-size: 48px;
  }
}

.sub-title {
  font-size: 18px;
  color: #ffffff;

  @include md-up {
    font-size: 28px;
  }
}

.row {
  display: flex;
}
