@import "variables";
@import "mixins";

.top-nav {
  display: flex;
  align-items: center;
  position: fixed;
}

.col-logo {
  flex: 0 0 80px;
}

.header-logo {
  height: auto;
  width: 80px;
}

.top-header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;
  transition: background-color 350ms ease-in-out;
}

.animate-header {
  background-color: $white;
  color: $black;
  box-shadow: 0px 2px 5px 0px rgba(107, 104, 107, 1);

  .nav-list-item a {
    color: $black;
  }
}

#menu {
  font-size: medium;
  color: #ffffff;
  background-color: white;
}

.col-nav {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

#menu-btn {
  display: block;

  @include md-up {
    display: none;
  }
}

.nav-list {
  list-style: none;
  margin-bottom: 0;
  padding-right: 20px;
  display: none;

  @include md-up {
    display: flex !important;
  }
}

.nav-list-item {
  margin-left: 15px;
}

.nav-list-item a {
  color: #ffffff;
  text-decoration: none;
  transition: 400ms linear;
}

.nav-list-item a:hover {
  color: #c80000;
  text-decoration: none;
}
