@import "variables";
@import "mixins";

.header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

.top-nav {
  display: flex;
  align-items: center;
  position: fixed;
}


.header-logo {
  height: auto;
  width: 70px;
}

.top-header {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 10px 2px rgba(105, 105, 105, 0.62);
  padding: 15px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background: white;
  z-index: 1;
}

#menu {
  font-size: medium;
  color: #000000;
  background-color: white;
}

.col-nav {
  justify-content: flex-end;
  align-items: center;
  display: flex;
}

.nav-list {
  display: flex;
  list-style: none;
  margin-bottom: 0;
  padding-right: 20px;
}

.nav-list-item {
  margin-left: 15px;
}

.nav-list-item a {
  color: #292929;
  text-decoration: none;
  transition: 400ms linear;
}

.nav-list-item a:hover {
  color: #c80000;
  text-decoration: none;
}