$gold: #ffab06;
$black: #000000;
$white: #ffffff;
$yellow: #ffe600;
$red: #ff0000;
$red: #ff0000;

$grid-breakpoints: (
  // Extra small screen / phone
        xs: 0,
  // Small screen / phone
        sm: 576px,
  // Medium screen / tablet
        md: 765px,
  // Large screen / desktop
        lg: 992px,
  // Extra large screen / wide desktop
        xl: 1200px
) !default;
