$gold: #ffab06;
$black: #111111;
$white: #ffffff;
$yellow: #ffe600;
$red: #ff0000;
$green: #008000;
$darkcyan: #008b8b;
$peanut: #E8B365;


$grid-breakpoints: (
  // Extra small screen / phone
        xs: 0,
  // Small screen / phone
        sm: 576px,
  // Medium screen / tablet
        md: 768px,
  // Large screen / desktop
        lg: 992px,
  // Extra large screen / wide desktop
        xl: 1200px
) !default;
